@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('https://bucket.redeyes.top/YouSheShaYuFeiTeJianKangTi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;     
  }

